.user-settings {
    grid-area: user-settings;
    /*border: 1px solid black;*/
}
.dropdown {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
    /*justify-content: right!important;*/
    justify-content: flex-end;
    align-items: center;
    background-color: transparent !important;
}
.btn {
    margin: 5px!important;
    background-color: transparent !important;
    outline: none!important;
}
.btn-primary {
    background-color: transparent !important;
    outline: none!important;

}
.dropdown-toggle {
    height: fit-content;
    width: fit-content;
    margin: 5px;
    background-color: transparent !important;
    outline: none!important;

}
.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    outline: none!important;

}
.profile-img:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    outline: none!important;
}
.dropdown-menu{
    height: 100%;
    width: 100%;

}
.dropdown-item{
    text-align: center !important;
}
.dropdown-toggle {
    border: none!important;
    padding: 0!important;
    margin: 5px;
    padding-top: 5px !important;
}
.dropdown-toggle::after{
    display: none!important;
}
.dropdown-menu.show {
    /*display: none!important;*/

    height: fit-content!important;
}
.dropdown-toggle.btn.btn-primary {
    margin: 10px!important;
}