.App {
  text-align: center;
  height: 100%;
  background: #207cff;
  background: -webkit-linear-gradient(top left, #07bcf9 0%, #aaff95 100%);
  background: -moz-linear-gradient(top left, #07bcf9 0%, #aaff95 100%);
  background: -o-linear-gradient(top left, #07bcf9 0%, #aaff95 100%);
  background: linear-gradient(to bottom right, #07bcf9 0%, #aaff95 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 0.6fr 2fr minmax(50px, .6fr);
  grid-template-rows: minmax(30px, 50px) 2.6fr 0.2fr;
  grid-template-areas: "chatbot-settings header user-settings" "chatbot-settings message-display ." ". response-dock .";
}
